<section class="w3l-main-slider position-relative" id="home">
	<div class="companies20-content">
		<div class="owl-one owl-carousel owl-theme">
			<div class="item">
				<li>
					<div class="slider-info banner-view bg bg2">
						<div class="banner-info">
							<h3>En Popüler Film ve Diziler</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Fragmanı İzle</h6>
							</a>
							<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe width="1143" height="643" src="https://www.youtube.com/embed/AHmCH7iB_IM" title="CREED III | Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info  banner-view banner-top1 bg2 " style=" background:url(https://pbs.twimg.com/media/DYVYLgbXcAo2hJh.jpg) center">
						<div class="banner-info">
							<h3>En Güncel Spor Haberleri</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Fragmanı İzle</h6>
							</a>
							<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
							<div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/395376850" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner-top2 bg bg2">
						<div class="banner-info">
							<h3>Reklamsız Keyifli İzle</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Fragmanı İzle</h6>
							</a>
							<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
							<div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/389969665" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner-top3 bg bg2" style=" background:url(https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg) ">
						<div class="banner-info">
							<h3>Herşey Tek bir Noktada</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
									Consequuntur hic odio
									voluptatem tenetur consequatur.
								</span>
							</p>
							<a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Fragman İzle</h6>
							</a>
							<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
							<div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/323491174" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</section>