<section class="blog-post-main w3l-homeblock1">
    <!--/blog-post-->
    <div class="blog-content-inf pb-5">
        <div class="container pb-lg-4">
            <div class="single-post-image">
                <div class="post-content">
                    <img src="assets/images/banner2.jpg" class="radius-image img-fluid mb-5" alt="" />
                </div>
            </div>
            <div class="single-post-content">




                <!--//author-card-->
                <div class="author-card mt-5">
                    <div class="row align-items-center">
                        <div class="col-sm-3 col-6">
                            <div>
                                <img src="https://imageio.forbes.com/specials-images/imageserve/62d700cd6094d2c180f269b9/0x0.jpg?format=jpg&crop=959,959,x0,y0,safe&height=416&width=416&fit=bounds" alt="" class="rounded-circle img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-9 mt-sm-0 mt-3">
                            <h3 class="mb-3 title">Atakan Kaşbaşı</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, sed et excepturi.
                                Distinctio fugit odit? Fugit ipsam. Lorem ipsum dolor sit.
                            </p>
                            <ul class="author-icons mt-4">
                                <li>
                                    <a class="facebook" href="#url">
                                        <span class="fa fa-facebook"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#url">
                                        <span class="fa fa-twitter"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="google" href="#url">
                                        <span class="fa fa-google-plus"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#url">
                                        <span class="fa fa-linkedin"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="github" href="#url">
                                        <span class="fa fa-github"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dribbble" href="#url">
                                        <span class="fa fa-dribbble"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--//author-card-->


                <div class="comments mt-5">
                    <h4 class="side-title ">Yorumlar (2)</h4>
                    <div class="media mt-4">
                        <div class="img-circle">
                            <img src="https://pbs.twimg.com/profile_images/949225618553614336/5O8oKMNG_400x400.jpg" class="img-fluid" alt="...">
                        </div>
                        <div class="media-body">

                            <ul class="time-rply mb-2">
                                <li>
                                    <a href="#URL" class="name mt-0 mb-2 d-block">Kerem Türkeş</a>
                                    June 15th, 2020 - 10:02 pm

                                </li>
                                <li class="reply-last">
                                    <a href="#reply" class="reply">
                                        Reply
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, hic
                                reprehenderit eum cupiditate deleniti, Lorem ipsum dolor sit amet consectetur adipisicing.....
                            </p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="img-circle">
                            <img src="https://cdn.forum.shiftdelete.net/data/avatars/h/642/642774.jpg?1614935461" class="img-fluid" alt="...">
                        </div>
                        <div class="media-body">
                            <ul class="time-rply mb-2">
                                <li>
                                    <a href="#URL" class="name mt-0 mb-2 d-block">Ali Doğan</a>
                                    June 15th, 2020 - 12:30 pm

                                </li>
                                <li class="reply-last">
                                    <a href="#reply" class="reply">
                                        Reply
                                    </a>
                                </li>
                            </ul>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing. Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga,
                                suscipit totam animi.....
                            </p>
                            <div class="media second mt-4 p-0 pt-2">
                                <a class="img-circle img-circle-sm" href="#url">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Bill_Gates_2018.jpg/640px-Bill_Gates_2018.jpg" class="img-fluid" alt="...">
                                </a>
                                <div class="media-body">
                                    <ul class="time-rply mb-2">
                                        <li>
                                            <a href="#URL" class="name mt-0 mb-2 d-block">Mehmet Parlak</a>
                                            June 15th, 2020 - 14:20 pm

                                        </li>
                                        <li class="reply-last">
                                            <a href="#reply" class="reply"> Cevapla</a>
                                        </li>
                                    </ul>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                        corrupti quos dolores et. Lorem ipsum dolor sit amet......
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="leave-comment-form mt-5" id="reply">
                    <h4 class="side-title mb-2">Leave a Reply</h4>
                    <p class="mb-4">
                        Your email address will not be published. Required fields are marked *
                    </p>
                    <form action="#" method="post">

                        <div class="form-group">
                            <textarea name="Comment" class="form-control" placeholder="Your Comment*" required=""
                                      spellcheck="false"></textarea>
                        </div>
                        <div class="input-grids row">

                            <div class="form-group col-lg-6">
                                <input type="text" name="Name" class="form-control" placeholder="Your Name*"
                                       required="">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" name="Email" class="form-control" placeholder="Email*" required="">
                            </div>
                        </div>

                        <div class="submit text-right">
                            <button class="btn btn-style btn-primary">Post Comment </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--//blog-post-->
</section>

