
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/PartialLayout/CatalogHomePage/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("~/Views/PartialLayout/CatalogHomePage/NavbarPartial.cshtml")

    @await Component.InvokeAsync("HomeSlider")

    @await Component.InvokeAsync("PopularMovies")

    @await Component.InvokeAsync("NewReleases")

    @await Component.InvokeAsync("HomeSlider2")

    @*  @await Component.InvokeAsync("TabMenuBar")*@

    @await Html.PartialAsync("~/Views/PartialLayout/CatalogHomePage/FooterPartial.cshtml")

    @RenderBody()
</body>

</html>

@await Html.PartialAsync("~/Views/PartialLayout/CatalogHomePage/ScriptPartial.cshtml")
