
<section class="w3l-grids">
	<div class="grids-main py-5">
		<div class="container py-lg-3">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny-left">
						<h3 class="hny-title">AKSİYON</h3>
					</div>
					<div class="headerhny-right text-lg-right">
						<h4><a class="show-title" href="genre.html">   </a></h4>
					</div>
				</div>
			</div>
			<div class="w3l-populohny-grids">
				<div class="item vhny-grid">
					<div class="box16">
						<a href="genre.html">
							<figure>
								<img class="img-fluid" src="~/Temalar/Showroom/assets/images/m7.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Frozen 2</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1h 4m

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="genre.html">
							<figure>
								<img class="img-fluid" src="~/Temalar/Showroom/assets/images/m3.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Knives Out</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 hr 4 m

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="genre.html">
							<figure>
								<img class="img-fluid" src="~/Temalar/Showroom/assets/images/m4.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Little Women</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 Hr 4 m

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="genre.html">
							<figure>
								<img class="img-fluid" src="~/Temalar/Showroom/assets/images/m5.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Jumanji</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 hr 4 m

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>