@using EntityLayer.Concrete
@model List<Movie>
@{
    Layout = null;
}


    <div class="w3l-ab-grids py-5">
        <div class="container py-lg-4">
            <div class="row ab-grids-sec align-items-center">
                <div class="col-lg-6 ab-right">
                <img class="img-fluid" src="https://cdn.networkokulu.net/wp-content/uploads/2021/03/the-founder.jpg">
                </div>
                <div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
                    <h3 class="hny-title">The Founder</h3>
                    <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quisquam ipsam
                    molestiae ad eius accusantium? Nulla dolorem perferendis inventore! posuere cubilia Curae;
                    Nunc non risus in justo convallis feugiatLorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quisquam ipsam
                    molestiae ad eius accusantium? Nulla dolorem perferendis inventore! posuere cubilia Curae;
                    Nunc non risus in justo convallis feugiat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quisquam ipsam
                    molestiae ad eius accusantium? Nulla dolorem perferendis inventore! posuere cubilia Curae;
                    Nunc non risus in justo convallis feugiat.
                    </p>

                </div>
            </div>

        </div>
    </div>

    <div class="container py-lg-4">
        <div class="row ab-grids-sec align-items-center">

            <div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
                <h3 class="hny-title">Lorem ipsum dolor</h3>
                <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quisquam ipsam
                    molestiae ad eius accusantium? Nulla dolorem perferendis inventore! posuere cubilia Curae;
                    Nunc non risus in justo convallis feugiatLorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quisquam ipsam
                    molestiae ad eius accusantium? Nulla dolorem perferendis inventore! posuere cubilia Curae;
                    Nunc non risus in justo convallis feugiat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id quisquam ipsam
                    molestiae ad eius accusantium? Nulla dolorem perferendis inventore! posuere cubilia Curae;
                    Nunc non risus in justo convallis feugiat.
                </p>

            </div>
            <div class="col-lg-6 ab-right">
            <img class="img-fluid" src="https://i-viaplay-com.akamaized.net/viaplay-prod/679/544/1496230850-3d48f3841be25000b35542b9c4736533e9dab58c.jpg?width=960&height=540">
            </div>
        </div>
    </div>

