<section class="w3l-gallery py-5" id="gallery">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mx-auto mb-sm-5 mb-4" style="max-width:700px">
            <h3 class="title-style">Amazing Photo Gallery</h3>
            <p class="lead mt-2">
                Nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat sunt in culpa qui official.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class=" item">
                    <a href="~/Temalar/Starter/assets/images/g1.jpg" data-lightbox="example-set" data-title="Project 1"
                       class="zoom d-block">
                        <img class="card-img-bottom d-block" src="~/Temalar/Starter/assets/images/g1.jpg" alt="Card image cap">
                        <span class="overlay__hover"></span>
                        <span class="hover-content">
                            <span class="title">Portrait Photography</span>
                            <span class="content">Quisque ut lectus, eros et, sed commodo risus.</span>
                        </span>
                    </a>
                </div>
                <div class="item mt-4">
                    <a href="~/Temalar/Starter/assets/images/g2.jpg" data-lightbox="example-set" data-title="Project 2"
                       class="zoom d-block">
                        <img class="card-img-bottom d-block" src="~/Temalar/Starter/assets/images/g2.jpg" alt="Card image cap">
                        <span class="overlay__hover"></span>
                        <span class="hover-content">
                            <span class="title">Wedding Photography</span>
                            <span class="content">Quisque ut lectus, eros et, sed commodo risus.</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                <div class="item">
                    <a href="~/Temalar/Starter/assets/images/g3.jpg" data-lightbox="example-set" data-title="Project 3"
                       class="zoom d-block">
                        <img class="card-img-bottom d-block" src="~/Temalar/Starter/assets/images/g3.jpg" alt="Card image cap">
                        <span class="overlay__hover"></span>
                        <span class="hover-content">
                            <span class="title">Fashion Photography</span>
                            <span class="content">Quisque ut lectus, eros et, sed commodo risus.</span>
                        </span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-6 item">
                        <a href="~/Temalar/Starter/assets/images/g5.jpg" data-lightbox="example-set" data-title="Project 4"
                           class="zoom d-block">
                            <img class="card-img-bottom d-block" src="~/Temalar/Starter/assets/images/g5.jpg" alt="Card image cap">
                            <span class="overlay__hover"></span>
                            <span class="hover-content">
                                <span class="title">Model Photography</span>
                                <span class="content">Quisque ut lectus, eros et, sed commodo risus.</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-12 col-sm-6 item mt-lg-4 mt-sm-0 mt-4">
                        <a href="~/Temalar/Starter/assets/images/g4.jpg" data-lightbox="example-set" data-title="Project 5"
                           class="zoom d-block">
                            <img class="card-img-bottom d-block" src="~/Temalar/Starter/assets/images/g4.jpg" alt="Card image cap">
                            <span class="overlay__hover"></span>
                            <span class="hover-content">
                                <span class="title">Photojournalism</span>
                                <span class="content">Quisque ut lectus, eros et, sed commodo risus.</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
