
<section class="w3l-grids">
	<div class="grids-main py-4">
		<div class="container py-lg-4">
			<div class="headerhny-title">
				<h3 class="hny-title">POPÜLER FİLM VE DİZİLER</h3>
			</div>
			<div class="owl-four owl-carousel owl-theme">
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#">
							<figure>
								<img class="img-fluid" src="https://static01.nyt.com/images/2023/03/02/multimedia/02creed-review2-vmjc/02creed-review2-vmjc-videoSixteenByNine3000.jpg" alt="">

							</figure>
							<div class="box-content">
								<h3 class="title">Creed III</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 2 Hr 4min

									</span>

									<span class=" post fa fa-heart text-right"></span>
								</h4>
							</div>
					
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
					<div class="box16 mt-4">
						<a href="#">
							<figure>
								<img class="img-fluid" src="~/Temalar/Showroom/assets/images/banner3.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Joker</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 Hr 54min

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>

							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#">
							<figure>
								<img class="img-fluid" src="https://i4.hurimg.com/i/hurriyet/75/750x422/55eabcc9f018fbb8f8938170.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Esaretin Bedeli</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 Hr 50min

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
					<div class="box16 mt-4">
						<a href="#">
							<figure>
								<img class="img-fluid" src="https://nolurbak.com/wp-content/uploads/2021/10/terminator-7-cikti-mi-nolurbak.png" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Terminatör 7</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 2 Hr 34min

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#">
							<figure>
								<img class="img-fluid" src="https://occ-0-41-987.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABY8udOjWYfI-QgggFSDR556eunXwSZqovXXDa3QC3cAPng_E3JsoVNUNSr8NyXYcabOJdew4Z3qIupPZ5xXQqsUC0NVoxe9agoSv.jpg?r=ff2" alt="">

							</figure>
							<div class="box-content">
								<h3 class="title">Durdurulamaz Güç</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 Hr 25min

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
					<div class="box16 mt-4">
						<a href="#">
							<figure>
								<img class="img-fluid" src="https://republicmonews.com/wp-content/uploads/2022/06/extraction-2-social.jpg" alt="">
							</figure>
							<div class="box-content">
								<h3 class="title">Extraction II</h3>
								<h4>
									<span class="post">
										<span class="fa fa-clock-o"> </span> 1 Hr 34min

									</span>

									<span class="post fa fa-heart text-right"></span>
								</h4>
							</div>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>