
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MovieDetailsPageLayout</title>
</head>
<body>
</body>
</html>
@RenderBody()