
@{
    Layout = null;
}


<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/PartialLayout/MovieDetailPage/HeadPartial.cshtml")

<body>
    @await Html.PartialAsync("~/Views/PartialLayout/MovieDetailPage/NavbarPartial.cshtml")
    @await Component.InvokeAsync("HomeSlider2")

    @await Component.InvokeAsync("MovieDetails")

    @await Component.InvokeAsync("Actor")

    @await Component.InvokeAsync("Testimonial")

    @await Html.PartialAsync("~/Views/PartialLayout/MovieDetailPage/PhotoGallery.cshtml")

    @await Html.PartialAsync("~/Views/PartialLayout/MovieDetailPage/NewReleases.cshtml")


    @await Component.InvokeAsync("CommentList")

    @await Html.PartialAsync("~/Views/PartialLayout/MovieDetailPage/FooterPartial.cshtml")

</body>

</html>
@await Html.PartialAsync("~/Views/PartialLayout/MovieDetailPage/ScriptPartial.cshtml")
@RenderBody()