


<section id="testimonial-area" class="pt-5 " style="margin-top:3rem">
    <div class="container pt-md-5 pt-4">
        <div class="title-heading-w3 text-center mx-auto mb-sm-5 mb-4" style="max-width:700px">
            <h3 class="title-style">Geri Dönüşler</h3>
            <p class="lead mt-2">
                Nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat sunt in culpa qui official.
            </p>
        </div>
        <div class="testi-wrap">
            <div class="client-single active position-1" data-position="position-1">
                <div class="client-img">
                    <img src="https://images.rtl.fr/~c/2000v2000/rtl/www/1374750-tom-cruise-incarne-l-agent-ethan-hunt-dans-la-saga-mission-impossible.jpg" alt="" />
                </div>
                <div class="client-info">
                    <h3>Tom Cruise</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

            <div class="client-single inactive position-2" data-position="position-2">
                <div class="client-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfVD2PkiZfZalpwZbskGEcyQ6paJA5XxJ5eoVzBIxeXw&s" alt="" />
                </div>
                <div class="client-info">
                    <h3>Elham Pashei</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

            <div class="client-single inactive position-3" data-position="position-3">
                <div class="client-img">
                    <img src="https://hips.hearstapps.com/hmg-prod/images/steve-jobs--david-paul-morrisbloomberg-via-getty-images.jpg" alt="" />
                </div>
                <div class="client-info">
                    <h3>Steve Jobs</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

            <div class="client-single inactive position-4" data-position="position-4">
                <div class="client-img">
                    <img src="https://conteudo.imguol.com.br/c/noticias/8c/2022/11/22/02mai2022---o-bilionario-elon-musk-no-met-gala-em-nova-york-1669125518979_v2_1x1.jpg" alt="" />
                </div>
                <div class="client-info">
                    <h3>Elon Musk</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

            <div class="client-single inactive position-5" data-position="position-5">
                <div class="client-img">
                    <img src="https://pbs.twimg.com/profile_images/1564398871996174336/M-hffw5a_400x400.jpg" alt="" />
                </div>
                <div class="client-info">
                    <h3>Bill Gates</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

            <div class="client-single inactive position-6" data-position="position-6">
                <div class="client-img">
                    <img src="https://www.bilgiustam.com/resimler/2015/07/sylvester-stallone-resimleri315-1435615259.jpg" alt="" />
                </div>
                <div class="client-info">
                    <h3>Silvester Stallone</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

            <div class="client-single inactive position-7" data-position="position-7">
                <div class="client-img">
                    <img src="https://file1.closermag.fr/var/closermag/storage/images/bio-people/biographie-jason-statham-112815/827891-1-fre-FR/Jason-Statham.jpg?alias=square500x500&size=x100&format=jpegg" alt="" />
                </div>
                <div class="client-info">
                    <h3>Jason Statham</h3>
                    <p>Subtitle goes here</p>
                </div>
                <div class="client-comment">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </h3>
                    <img src="~/Temalar/Starter/assets/images/quote.png" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>
