<div class=" mx-5 mx-md-5 mt-n5 mb-8">
    <footer class="footer pt-5 mt-5">
        <div class="container" style="text-align:center">

            <h3 class="font-weight-bolder mb-4 " style="color:white">Find the best movies & Tv Shows on all<br /> your favorite streaming services</h3>



            <a href="#git" type="button" class="btn mt-4 " style="padding:20px; background-color:#fbc500; color:#000000">
                FİlM VE TV DİZİLERİNİ KEŞFET

                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="-2 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>

            </a>
        </div>


        <div class="container mt-5" style="text-align:center">
            <div class="row" style="text-align:center">
                <div class="col">

                    <p class="card-description font-weight-bolder" style="color:white">Hakkımızda</p>
                    <p class="card-description">Lorem</p>
                    <p class="card-description">İpsum</p>
                    <p class="card-description">Dolor</p>


                </div>

                <div class="col">
                    <p class="card-description font-weight-bolder" style="color:white">Hakkımızda</p>
                    <p class="card-description">Lorem</p>
                    <p class="card-description">İpsum</p>
                    <p class="card-description">Dolor</p>


                </div>

                <div class="col">

                    <p class="card-description font-weight-bolder" style="color:white">Hakkımızda</p>
                    <p class="card-description">Lorem</p>
                    <p class="card-description">İpsum</p>
                    <p class="card-description">Dolor</p>


                </div>
            </div>
        </div>




    </footer>
</div>


