<header class="btn-default" style="background-color:black;">



    <div class="page-header min-vh-100">
        <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image: url(https://hips.hearstapps.com/hmg-prod/images/movie-series-1652898795.jpg)"></div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-6  col-md-7 d-flex justify-content-center flex-column">
                    <h1 style="margin-left:125px;" class=" text-gradient text-primary">CoreMovieBox</h1>
                    <h1 style="margin-left:125px;" class="mb-4">Film ve Tv Dizilerini Keşfedin</h1>
                    <p style="margin-left:125px; " class="lead pe-5 me-5">Bir sinemaseverin bir başkasına verebileceği hediyelerden biri de henüz keşfetmediği harika bir filmin adıdır. İşte uzak geçmişten yakın geçmişe kadar filmlerin 300'den fazla yeniden değerlendirmesi ve takdiri, hepsi "harika" olarak anılmaya değer olduğunu düşündüğüm filmler. </p>
                    <div style="margin-left:125px;" class="buttons">

                        <a href="#git" type="button" class="btn mt-4 " style="padding:20px; background-color:#fbc500; color:#000000">
                            FİlM VE TV DİZİLERİNİ KEŞFET

                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="-2 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>

                        </a>




                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="40" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                        </svg>


                    </div>
                </div>
            </div>
        </div>
    </div>
</header>