<section class="py-5 mt-5">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card card-plain text-center">
                    <a href="javascript:;">
                        <img class="" style=" width: 25rem;" src="https://www.justwatch.com/appassets/img/home/all_in_one_place-comp.png" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">HEPSİ BİR ARADA</h4>
                        <h6 class="category text-info text-gradient">Hepsi bir arada akış rehberiniz</h6>
                        <p class="card-description">
                            Favori akış hizmetleriniz için kişisel öneriler alın. Filmler, TV dizileri ve spor yayınlarını nerede izleyeceğinizi size gösterelim.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-plain text-center">
                    <a href="javascript:;">
                        <img class="" style=" width: 22rem;" src="https://www.justwatch.com/appassets/img/home/one_search-comp.png" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">TEK ARAMA</h4>
                        <h6 class="category text-info text-gradient">Aynı anda tüm platformlarda arama</h6>
                        <p class="card-description">
                            Bir film ya da TV dizisinin nerede yayında olduğunu görmek için akış platformları arasında ileri geri dolaşmak zorunda kalmayın.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-plain text-center">
                    <a href="javascript:;">
                        <img class="" style=" width: 25rem;" src="https://www.justwatch.com/appassets/img/home/one_watchlist-comp.png" />
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">TEK İZLEME LİSTESİ</h4>
                        <h6 class="category text-info text-gradient">Tüm izleme listelerinizi birleştirin</h6>
                        <p class="card-description">
                            İzlemek istediğiniz tüm filmler ve TV dizileri için – bütün cihazlarınızdaki tüm akış hizmetlerini kapsayan – tek bir izleme listesi hazırlayın.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

