<div class="mx-5 mx-md-6 mt-n5">

    <div class="row mt-5 ">

        <div class="col-lg-12 mb-lg-0 mb-4 ">

            <a href="javascript:;">
                <div class="card card-background move-on-hover mb-4">
                    <div class="full-background" style="background-image: url('https://static1.colliderimages.com/wordpress/wp-content/uploads/2023/01/last-of-us-tv-show-pedro-pascal-bella-ramsey.jpg') "></div>
                    <div class="card-body pt-6 ">

                        <h4 class="card-title" style="color:#fbc500; ">The Last Of Us</h4>
                        <h5 class="category text-info text-gradient">9.1</h5>
                        <p class="card-description">
                            Bir beyin enfeksiyonu dünyaya yayıldığında, birçok insan zombi benzeri özellikler edinerek toplumun çökmesine
                            neden olur. The Last of Us, travmatik geçmişinin peşini bırakmayan Joel ve Ellie'yi konu alıyor. Görünüşe göre bu
                            genç kızın Cordyceps beyin enfeksiyonuna karşı bağışıklığı var, yani bir aşının cevabı o olabilir mi? The Last of Us,
                            2013 yılında piyasaya sürülen aynı adlı popüler video oyununun uyarlamasıdır.
                        </p>

                    </div>
                </div>
            </a>

        </div>


    </div>
</div>


