

<div class="container position-relative z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3 btn btn-sm mb-0 me-1 mt-2 mt-md-0 " href="#" rel="tooltip" title="" data-bs-toggle="tooltip" data-bs-placement="bottom" target="">
                        CoreMovieBox
                    </a>



                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100 d-flex justify-content-center" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto ">


                            <li class="nav-item my-auto ms-3 ms-lg-0 ">

                                <a href="#" class="navbar-brand  btn btn-sm font-weight-bolder mb-0 me-1 mt-2 mt-md-0">HARİKA FİLMLER</a>

                            </li>
                            <li class="nav-item my-auto ms-3 ms-lg-0">

                                <a href="#" class="navbar-brand  btn btn-sm font-weight-bolder mb-0 me-1 mt-2 mt-md-0">KOLEKSİYONLAR</a>

                            </li>
                            <li class="nav-item my-auto ms-3 ms-lg-0">

                                <a href="#" class="navbar-brand  btn btn-sm font-weight-bolder mb-0 me-1 mt-2 mt-md-0">TV / AKIŞ</a>

                            </li>
                            <li class="nav-item my-auto ms-3 ms-lg-0">

                                <a href="#" class="navbar-brand  btn btn-sm font-weight-bolder mb-0 me-1 mt-2 mt-md-0">RÖPORTAJLAR</a>

                            </li>
                            <li class="nav-item my-auto ms-3 ms-lg-0">

                                <a href="#" class="navbar-brand  btn btn-sm font-weight-bolder mb-0 me-1 mt-2 mt-md-0">FİLM İNCELEMELERİ</a>

                            </li>
                            <li class="nav-item my-auto ms-3 ms-lg-0">

                                <a href="#" class="navbar-brand  btn btn-sm font-weight-bolder mb-0 me-1 mt-2 mt-md-0">VİZYONDAKİLER</a>

                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>
