
<div class="mb-5 mt-8">
    <div class="row d-flex">
        <div class="col-2">

            <h4 class="card-title" style="color:white; margin-left:70px; ">Yeni Filmler</h4>
            <br />
            <p class="card-description" style="margin-left:70px;">
                En sevdiğiniz akış sağlayıcılarını seçin ve en sevdiğiniz TV şovlarının yeni filmleri veya yeni bölümleri eklendiğinde asla kaçırmayın
            </p>

        </div>


        <div class="col-10  container">

            <div class="col-11 ">

                <div class="row ">

                    <div class=" col-lg col-md-4 mb-5">

                        <img class="" style=" width: 15rem; height:20rem; margin-left:-30px; border-radius:15px;" src="https://www.cleveland.com/resizer/szqxdT-SvcadFx4rMtVFS1n_D1U=/arc-anglerfish-arc2-prod-advancelocal/public/2E6HM6KQ2ZH2JOCSOEPJHVAPME.jpg" />

                    </div>

                    <div class="col-lg col-md-4">

                        <img class="" style=" width: 15rem; height:20rem; margin-left:-30px; border-radius:15px" src="https://i0.wp.com/firewireblog.com/wp-content/uploads/2022/09/extraction.jpeg?resize=750%2C871&ssl=1" />

                    </div>


                    <div class="col-lg col-md-4">

                        <img class="" style=" width: 15rem; height:20rem; margin-left:-30px; border-radius:15px" src="https://www.cineimage.ch/asset/sicario/qsn180_auv749_quj611/l" />

                    </div>


                    <div class="col-lg col-md-4">

                        <img class="" style=" width: 15rem; height:20rem; margin-left:-30px; border-radius:15px" src="https://bingeddata.s3.amazonaws.com/uploads/2020/11/spectral.jpg" />

                    </div>

                    <div class="col-lg col-md-4">

                        <img class="" style=" width: 15rem; height:20rem; margin-left:-30px; border-radius:15px" src="https://www.justwatch.com/images/poster/267981352/s332/everything-everywhere-all-at-once" />

                    </div>





                </div>




            </div>












        </div>

        <div class="col-1"></div>

    </div>
</div>


