<section class="w3l-team" id="team">
	<div class="grids-main py-5">
		<div class="container py-lg-4">
			<div class="headerhny-title">
				<h3 class="hny-title">Our Actors</h3>
			</div>
			<div class="owl-team owl-carousel owl-theme">
				<div class="item vhny-grid">
					<div class="d-grid team-info">
						<div class="column position-relative">
							<a href="#url"><img src="~/Temalar/Showroom/assets/images/a1.jpg" alt="" class="img-fluid rounded team-image" /></a>
						</div>
						<div class="column text-center">
							<h3 class="name-pos"><a href="#url">Dwayne johnson</a></h3>

							<div class="social">
								<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
								<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
								<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
							</div>
						</div>
					</div>

				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<div class="d-grid team-info">
							<div class="column position-relative">
								<a href="#url"><img src="~/Temalar/Showroom/assets/images/a2.jpg" alt="" class="img-fluid rounded team-image" /></a>
							</div>
							<div class="column text-center">
								<h3 class="name-pos"><a href="#url">Karen Gillan</a></h3>

								<div class="social">
									<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<div class="d-grid team-info">
							<div class="column position-relative">
								<a href="#url"><img src="~/Temalar/Showroom/assets/images/a3.jpg" alt="" class="img-fluid rounded team-image" /></a>
							</div>
							<div class="column text-center">
								<h3 class="name-pos"><a href="#url">Chris Hemsworth</a></h3>

								<div class="social">
									<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<div class="d-grid team-info">
							<div class="column position-relative">
								<a href="#url"><img src="~/Temalar/Showroom/assets/images/a4.jpg" alt="" class="img-fluid rounded team-image" /></a>
							</div>
							<div class="column text-center">
								<h3 class="name-pos"><a href="#url">Elton John</a></h3>

								<div class="social">
									<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<div class="d-grid team-info">
							<div class="column position-relative">
								<a href="#url"><img src="assets/images/a5.jpg" alt="" class="img-fluid rounded team-image" /></a>
							</div>
							<div class="column text-center">
								<h3 class="name-pos"><a href="#url">Liu Yifei</a></h3>
								<div class="social">
									<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<div class="d-grid team-info">
							<div class="column position-relative">
								<a href="#url"><img src="assets/images/a3.jpg" alt="" class="img-fluid rounded team-image" /></a>
							</div>
							<div class="column text-center">
								<h3 class="name-pos"><a href="#url">Chris Hemsworth</a></h3>

								<div class="social">
									<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
									<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>



	</div>
</section>