<div class="row mt-4">
    <div class="col-lg-6 mx-auto text-center pb-5">

        <h3>Akış Hizmetleri</h3>
    </div>
</div>

<div class="row " style="margin-left:8rem; margin-right:8rem; margin-bottom:10rem">
    <div class="col ">
        <a href="#"><img class="avatar avatar-xl" src="https://images.justwatch.com/icon/70189310/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"> <img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/207360008/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"><img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/148125427/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"><img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/148251056/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"> <img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/52449861/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"><img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/190848813/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"><img class="avatar avatar-xl" src="https://images.justwatch.com/icon/147638351/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"><img class="avatar avatar-xl" src="https://images.justwatch.com/icon/301272467/s100/icon.webp" /></a>
    </div>
    <div class="col">
        <a href="#"> <img class="avatar avatar-xl" src="https://images.justwatch.com/icon/294000940/s100/icon.webp" /></a>
    </div>
    <div class="col ">
        <a href="#"> <img class="avatar avatar-xl" src="https://images.justwatch.com/icon/300972612/s100/icon.webp" /></a>
    </div>


</div>
