<div class=" mx-5 mx-md-5 mt-n5 mb-8">
    <footer class="footer pt-5 mt-5">
        <div class="container" style="text-align:center">

            <h3 class="font-weight-bolder mb-4 " style="color:white">En iyi film ve dizileri hemen keşfedin <br />  <a style="" class=" text-gradient text-primary">BoxLIST</a> e kaydedin</h3>



            <a href="/HomePage/Index/" type="button" class="btn mt-4 " style="padding:20px; background-color:#fbc500; color:#000000">
                FİlM VE TV DİZİLERİNİ KEŞFET

                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="-2 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>

            </a>
        </div>


        <div class="container mt-5" style="text-align:center">
            <div class="row" style="text-align:left">
                <div class="col">

                    <p class="card-description font-weight-bolder" style="color:white">North America</p>
                    <p class="card-description">Bermuda</p>
                    <p class="card-description">Canada</p>
                    <p class="card-description">Mexico</p>
                    <p class="card-description">United States</p>



                    <p class="card-description font-weight-bolder mt-5" style="color:white">Middle East</p>
                    <p class="card-description">Bahrain</p>
                    <p class="card-description">Egypt</p>
                    <p class="card-description">Iraq</p>
                    <p class="card-description">Israel</p>
                    <p class="card-description">Jordan</p>
                    <p class="card-description">Kuwait</p>
                    <p class="card-description">Oman</p>
                    <p class="card-description">Quatar</p>
                    <p class="card-description">Yemen</p>





                </div>

                <div class="col">
                    <p class="card-description font-weight-bolder" style="color:white">Europe</p>
                    <p class="card-description">Albania</p>
                    <p class="card-description">Androrra</p>
                    <p class="card-description">Austria</p>
                    <p class="card-description">Belgium</p>
                    <p class="card-description">Herzegovina</p>
                    <p class="card-description">Bulgaria</p>
                    <p class="card-description">Croatina</p>
                    <p class="card-description">Denmark</p>
                    <p class="card-description">Finland</p>
                    <p class="card-description">Estonia</p>
                    <p class="card-description">Greece</p>
                    <p class="card-description">Germany</p>
                    <p class="card-description">Denmark</p>
                    <p class="card-description">Italy</p>
                    <p class="card-description">Kosovo</p>
                    <p class="card-description">Latvia</p>


                </div>

                <div class="col">
                    <p class="card-description">Türkiye</p>
                    <p class="card-description">Moldova</p>
                    <p class="card-description">Monaca</p>
                    <p class="card-description">Netherlands</p>
                    <p class="card-description">Poland</p>
                    <p class="card-description">Norway</p>
                    <p class="card-description">Portugal</p>
                    <p class="card-description">Romania</p>
                    <p class="card-description">Serbia</p>
                    <p class="card-description">Russia</p>
                    <p class="card-description">Slovenia</p>
                    <p class="card-description">Slovakia</p>
                    <p class="card-description">Switzerland</p>
                    <p class="card-description">Sweedan</p>
                    <p class="card-description">United Kingdom</p>
                    <p class="card-description">Vatican City</p>
                    <p class="card-description">San Marino</p>


                </div>
                <div class="col">

                    <p class="card-description font-weight-bolder" style="color:white">Asia</p>
                    <p class="card-description">Hong Kong</p>
                    <p class="card-description">India</p>
                    <p class="card-description">Japan</p>
                    <p class="card-description">Lebanon</p>
                    <p class="card-description">Pakistan</p>
                    <p class="card-description">Taiwan</p>
                    <p class="card-description">Thailand</p>




                    <p class="card-description font-weight-bolder mt-5" style="color:white">Pacific</p>
                    <p class="card-description">Australia</p>
                    <p class="card-description">Fiji</p>
                    <p class="card-description">French Polynesia</p>
                    <p class="card-description">New Zealand</p>


                </div>

                <div class="col">

                    <p class="card-description font-weight-bolder" style="color:white">Central America</p>
                    <p class="card-description">Costo Rica</p>
                    <p class="card-description">El Salvador</p>
                    <p class="card-description">Guatemala</p>

                    <p class="card-description font-weight-bolder mt-5" style="color:white">Africa</p>
                    <p class="card-description">Algeria</p>
                    <p class="card-description">Ghana</p>
                    <p class="card-description">Kenya</p>
                    <p class="card-description">Libya</p>
                    <p class="card-description">Morocco</p>
                    <p class="card-description">Niger</p>
                    <p class="card-description">Zambia</p>
                    <p class="card-description">Uganda</p>
                    <p class="card-description">South Africa</p>
                    <p class="card-description">Mozambique</p>
                    <p class="card-description">Tunisia</p>

                </div>
            </div>


        </div>




    </footer>
</div>


