
<br />
<br />
<br />
<div class="mx-5 mx-md-6 mt-n5 ">

    <div class="row mt-5 d-flex justify-content-between">

        <div class="col-lg-2 mb-lg-0 mb-4 ">

            <a href="javascript:;">
                <div class=" card-background move-on-hover bg-gradient-faded-secondary mb-4 " style="width:18rem; height:18rem; border-radius:15px">
                    <div class="full-background" style="background-image: url('') "></div>
                    <div class="card-body pt-6 " style="padding-left:2rem">

                        <h5 class="card-title text-bg-secondary text-gradient font-weight-bold pt-7" >UEFA Şampiyonlar Ligi</h5>
                        <p class="category  " style="color:ghostwhite">4 Maç</p>
                        <p class="card-description">
                         
                        </p>
                   
                    </div>
                </div>
            </a>


            <a href="javascript:;">
                <div class=" card-background move-on-hover bg-gradient-faded-secondary mb-4 " style="width:18rem; height:18rem; border-radius:15px">
                    <div class="full-background" style="background-image: url('') "></div>
                    <div class="card-body pt-6 " style="padding-left:2rem">

                        <h5 class="card-title text-bg-secondary text-gradient font-weight-bold pt-7">NBA</h5>
                        <p class="category  " style="color:ghostwhite">217 Maç</p>
                        <p class="card-description">

                        </p>

                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-8 mb-lg-0 mb-4 ">

            <a href="javascript:;">
                <div class="card card-background move-on-hover mb-4" style="height:38rem">
                    <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>
                    
                </div>
            </a>

        </div>
        <div class="col-lg-2 mb-lg-0 mb-4 ">

            <a href="javascript:;">
                <div class=" card-background move-on-hover bg-gradient-faded-secondary mb-4 " style="width:18rem; height:18rem; border-radius:15px">
                    <div class="full-background" style="background-image: url('') "></div>
                    <div class="card-body pt-6 " style="padding-left:2rem">

                        <h5 class="card-title text-bg-secondary text-gradient font-weight-bold pt-7">Premier Ligi</h5>
                        <p class="category  " style="color:ghostwhite">122 Maç</p>
                        <p class="card-description">

                        </p>

                    </div>
                </div>
            </a>


            <a href="javascript:;">
                <div class=" card-background move-on-hover bg-gradient-faded-secondary mb-4 " style="width:18rem; height:18rem; border-radius:15px">
                    <div class="full-background" style="background-image: url('') "></div>
                    <div class="card-body pt-6 " style="padding-left:2rem">

                        <h5 class="card-title text-bg-secondary text-gradient font-weight-bold pt-7">NHL</h5>
                        <p class="category  " style="color:ghostwhite">262 Maç</p>
                        <p class="card-description">

                        </p>

                    </div>
                </div>
            </a>
        </div>


    </div>
</div>
@*
<div class="row mt-2 ">
    <div class="col-lg mb-lg-0 mb-4 ">


    </div>
    <div class="col-lg mb-lg-0 mb-4 ">
        <a href="javascript:;">
            <div class="card card-background move-on-hover mb-4" style="height:18rem; width:17rem">
                <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>

            </div>
        </a>
       
    </div>
    <div class="col-lg mb-lg-0 mb-4 ">

        <a href="javascript:;">
            <div class="card card-background move-on-hover mb-4" style="height:18rem; width:17rem">
                <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>

            </div>
        </a>

    </div>
    <div class="col-lg mb-lg-0 mb-4 ">

        <a href="javascript:;">
            <div class="card card-background move-on-hover mb-4" style="height:18rem; width:17rem">
                <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>

            </div>
        </a>

    </div>
    <div class="col-lg mb-lg-0 mb-4 ">

        <a href="javascript:;">
            <div class="card card-background move-on-hover mb-4" style="height:18rem; width:17rem">
                <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>

            </div>
        </a>

    </div>
    <div class="col-lg mb-lg-0 mb-4 ">

        <a href="javascript:;">
            <div class="card card-background move-on-hover mb-4" style="height:18rem; width:17rem">
                <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>

            </div>
        </a>

    </div>
    <div class="col-lg mb-lg-0 mb-4 ">

        <a href="javascript:;">
            <div class="card card-background move-on-hover mb-4" style="height:18rem; width:17rem">
                <div class="full-background" style="background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/18/thumbs_b_c_90cd97e910bdcb4c07324cf8a937a795.jpg') "></div>

            </div>
        </a>

    </div>
    
    <div class="col-lg mb-lg-0 mb-4 ">
    </div>
</div>
*@