<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CoreMovieBox</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="~/Temalar/Showroom/assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		  rel="stylesheet">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
		  rel="stylesheet">
	<link href="//fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
		  rel="stylesheet">
	<!-- //google-fonts -->
	<!-- Template CSS Style link -->
@*	<link rel="stylesheet" href="~/Temalar/Starter/assets/css/style-starter.css">*@




</head>