@{
    Layout = null;
}


@await Html.PartialAsync("~/Views/PartialLayout/HomePage/HeadPartial.cshtml")

<body class="g-sidenav-show">


    @await Html.PartialAsync("~/Views/PartialLayout/HomePage/HeaderPartial.cshtml")


    <div style="background-color:black">
        <div class="card card-body blur shadow-blur mx-5 mx-md-5 mt-n5 " id="git">
            <div class="container text-center mb-4">
      
                @await Html.PartialAsync("~/Views/PartialLayout/HomePage/AkisPartial.cshtml")

                @await Html.PartialAsync("~/Views/PartialLayout/HomePage/HepsiBirYerdePartial.cshtml")

            </div>
        </div>
    </div>

    @await Component.InvokeAsync("MainMovieList")
    @await Component.InvokeAsync("MainSeriesList")

    @RenderBody()

  

    @await Html.PartialAsync("~/Views/PartialLayout/HomePage/JumbotronPartial.cshtml")

 

    @await Html.PartialAsync("~/Views/PartialLayout/HomePage/YeniFilmPartial.cshtml")

    @await Html.PartialAsync("~/Views/PartialLayout/HomePage/FooterPartial.cshtml")

    @await Html.PartialAsync("~/Views/PartialLayout/HomePage/ScriptPartial.cshtml")

</body>
