@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoreMovieBox</title>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/soft-ui-dashboard.min.css?v=1.0.2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="./assets/css/theme.css">
    <link rel="stylesheet" href="./assets/css/loopple/loopple.css">
    <link rel="stylesheet" href="~/Temalar/Netflix/dist/style.css">
    <link rel="stylesheet" href="~/Temalar/Netflix/src/style.css">

</head>

<!-------------------------------------------------------------------------------------------------------------------->

<body class="g-sidenav-show">




    <header class="btn-default" style="background-color:black;">



        <div class="page-header min-vh-100">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image: url(https://hips.hearstapps.com/hmg-prod/images/movie-series-1652898795.jpg)"></div>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-lg-6  col-md-7 d-flex justify-content-center flex-column">
                        <h1 style="margin-left:125px;" class=" text-gradient text-primary">CoreMovieBox</h1>
                        <h1 style="margin-left:125px;" class="mb-4">Film ve Tv Dizilerini Keşfedin</h1>
                        <p style="margin-left:125px; " class="lead pe-5 me-5">Bir sinemaseverin bir başkasına verebileceği hediyelerden biri de henüz keşfetmediği harika bir filmin adıdır. İşte uzak geçmişten yakın geçmişe kadar filmlerin 300'den fazla yeniden değerlendirmesi ve takdiri, hepsi "harika" olarak anılmaya değer olduğunu düşündüğüm filmler. </p>
                        <div style="margin-left:125px;" class="buttons">

                            <a href="#git" type="button" class="btn mt-4 " style="padding:20px; background-color:#fbc500; color:#000000">
                                FİlM VE TV DİZİLERİNİ KEŞFET

                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="-2 0 16 16">
                                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                </svg>

                            </a>




                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="40" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                            </svg>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>






    <div style="background-color:black">
        <div class="card card-body blur shadow-blur mx-5 mx-md-5 mt-n5 " id="git">




            <div class="container text-center mb-4">
                <br />
                <div class="row">
                    <div class="col-lg-6 mx-auto text-center pb-5">

                        <h3>Akış Hizmetleri</h3>
                    </div>
                </div>

                <div class="row " style="margin-left:8rem; margin-right:8rem; margin-bottom:10rem">
                    <div class="col ">
                        <a href="#"><img class="avatar avatar-xl" src="https://images.justwatch.com/icon/70189310/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"> <img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/207360008/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"><img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/148125427/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"><img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/148251056/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"> <img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/52449861/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"><img class="avatar avatar-xl" src="https://www.justwatch.com/images/icon/190848813/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"><img class="avatar avatar-xl" src="https://images.justwatch.com/icon/147638351/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"><img class="avatar avatar-xl" src="https://images.justwatch.com/icon/301272467/s100/icon.webp" /></a>
                    </div>
                    <div class="col">
                        <a href="#"> <img class="avatar avatar-xl" src="https://images.justwatch.com/icon/294000940/s100/icon.webp" /></a>
                    </div>
                    <div class="col ">
                        <a href="#"> <img class="avatar avatar-xl" src="https://images.justwatch.com/icon/300972612/s100/icon.webp" /></a>
                    </div>


                </div>

                <section class="py-5 mt-5">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-plain text-center">
                                    <a href="javascript:;">
                                        <img class="" style=" width: 25rem;" src="https://www.justwatch.com/appassets/img/home/all_in_one_place-comp.png" />
                                    </a>

                                    <div class="card-body">
                                        <h4 class="card-title">HEPSİ BİR ARADA</h4>
                                        <h6 class="category text-info text-gradient">Hepsi bir arada akış rehberiniz</h6>
                                        <p class="card-description">
                                            Favori akış hizmetleriniz için kişisel öneriler alın. Filmler, TV dizileri ve spor yayınlarını nerede izleyeceğinizi size gösterelim.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-plain text-center">
                                    <a href="javascript:;">
                                        <img class="" style=" width: 22rem;" src="https://www.justwatch.com/appassets/img/home/one_search-comp.png" />
                                    </a>

                                    <div class="card-body">
                                        <h4 class="card-title">TEK ARAMA</h4>
                                        <h6 class="category text-info text-gradient">Aynı anda tüm platformlarda arama</h6>
                                        <p class="card-description">
                                            Bir film ya da TV dizisinin nerede yayında olduğunu görmek için akış platformları arasında ileri geri dolaşmak zorunda kalmayın.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-plain text-center">
                                    <a href="javascript:;">
                                        <img class="" style=" width: 25rem;" src="https://www.justwatch.com/appassets/img/home/one_watchlist-comp.png" />
                                    </a>

                                    <div class="card-body">
                                        <h4 class="card-title">TEK İZLEME LİSTESİ</h4>
                                        <h6 class="category text-info text-gradient">Tüm izleme listelerinizi birleştirin</h6>
                                        <p class="card-description">
                                            İzlemek istediğiniz tüm filmler ve TV dizileri için – bütün cihazlarınızdaki tüm akış hizmetlerini kapsayan – tek bir izleme listesi hazırlayın.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>












            </div>
        </div>


        <div class="mt-5" style="margin-left:70px;">
            <div class="row">
                <div class="col-lg-12 mx-auto  pb-5">

                    <h3 style="color:white">Yeni, popüler ve gelecek film ve TV dizilerine göz atın</h3>
                </div>
            </div>
        </div>
      
        <div class="">
            <div class="row d-flex justify-content-end">
                <div class="col-2"  >

                 

                        <h4 class="card-title" style="color:white; margin-left:70px; ">Haftanın en iyi 10 filmi</h4>
                        <br />
                    <p class="card-description" style="margin-left:70px;">
                            Haftanın en popüler filmlerini ve onları nerede izleyeceğinizi keşfedin.
                        </p>
                   
                </div>
                <div class="col-10" >

                    <div class="col-lg mx-auto  pb-5">

                        <div class="wrapper">

                            <section id="section1">
                                <a href="#section3" class="arrow__btn">‹</a>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">1</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://pics.filmaffinity.com/Creed_III-358416025-mmed.jpg" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">2</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://cdn.shopify.com/s/files/1/0584/3025/9368/products/1000775120-1.jpg?v=1637245607" />
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">3</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://resizing.flixster.com/_vt7y0i8AVB666VwAEr0CfmlvMg=/ems.cHJkLWVtcy1hc3NldHMvdHZzZXJpZXMvOGNmN2QzNDItNTJjNS00MGZlLWEwZmMtODQ3NjM1NGJhZjY3LmpwZw==" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">4</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://i0.wp.com/firewireblog.com/wp-content/uploads/2022/09/extraction.jpeg?resize=750%2C871&ssl=1" />
                                    </div>
                                </div>


                              
                                <a href="#section2" class="arrow__btn">›</a>
                            </section>
                            <section id="section2">
                                <a href="#section1" class="arrow__btn">‹</a>

                               
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">5</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/90b0c879f0f17c2878a235b9c489d55b46a1785c127c43a439509fdf5b616c87._RI_V_TTW_.jpg" />
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">6</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://upload.wikimedia.org/wikipedia/tr/5/50/Shazam%21.jpg" />
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">7</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://tr.web.img3.acsta.net/medias/nmedia/18/68/11/56/19075353.jpg" />
                                    </div>
                                </div>

                              
                              
                                <a href="#section3" class="arrow__btn">›</a>
                            </section>

                            <section id="section3">
                                <a href="#section2" class="arrow__btn">‹</a>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">8</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://tr.web.img4.acsta.net/pictures/18/08/20/09/49/1532686.jpg" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">9</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://flxt.tmsimg.com/assets/p11682476_b_v13_af.jpg" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">10</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://pics.filmaffinity.com/Creed_III-358416025-mmed.jpg" />
                                    </div>
                                </div>

                                <a href="#section3" class="arrow__btn">›</a>
                            </section>
                          


                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="mt-5" >
            <div class="row d-flex justify-content-end">
                <div class="col-2">



                    <h4 class="card-title" style="color:white; margin-left:70px; ">Haftanın en iyi 10 Tv Dizisi</h4>
                    <br />
                    <p class="card-description" style="margin-left:70px;">
                        Haftanın en popüler TV dizilerini ve onları nerede izleyeceğinizi keşfedin.
                    </p>

                </div>
                <div class="col-10">

                    <div class="col-lg mx-auto  pb-5">

                        <div class="wrapper">

                            <section id="section1">
                                <a href="#section3" class="arrow__btn">‹</a>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">1</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://pics.filmaffinity.com/Creed_III-358416025-mmed.jpg" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">2</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://cdn.shopify.com/s/files/1/0584/3025/9368/products/1000775120-1.jpg?v=1637245607" />
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">3</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://resizing.flixster.com/_vt7y0i8AVB666VwAEr0CfmlvMg=/ems.cHJkLWVtcy1hc3NldHMvdHZzZXJpZXMvOGNmN2QzNDItNTJjNS00MGZlLWEwZmMtODQ3NjM1NGJhZjY3LmpwZw==" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">4</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://i0.wp.com/firewireblog.com/wp-content/uploads/2022/09/extraction.jpeg?resize=750%2C871&ssl=1" />
                                    </div>
                                </div>



                                <a href="#section2" class="arrow__btn">›</a>
                            </section>
                            <section id="section2">
                                <a href="#section1" class="arrow__btn">‹</a>


                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">5</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/90b0c879f0f17c2878a235b9c489d55b46a1785c127c43a439509fdf5b616c87._RI_V_TTW_.jpg" />
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">6</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://upload.wikimedia.org/wikipedia/tr/5/50/Shazam%21.jpg" />
                                    </div>
                                </div>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">7</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://tr.web.img3.acsta.net/medias/nmedia/18/68/11/56/19075353.jpg" />
                                    </div>
                                </div>



                                <a href="#section3" class="arrow__btn">›</a>
                            </section>

                            <section id="section3">
                                <a href="#section2" class="arrow__btn">‹</a>
                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">8</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://tr.web.img4.acsta.net/pictures/18/08/20/09/49/1532686.jpg" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">9</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://flxt.tmsimg.com/assets/p11682476_b_v13_af.jpg" />
                                    </div>
                                </div>

                                <div class="item">

                                    <div class="col-lg mx-auto pb-5 d-flex flex-row ">
                                        <h1 class="card-title" style="font-size:15rem; padding-top:5px">10</h1>
                                        <img class="" style=" width: 15rem; height:20rem;" src="https://pics.filmaffinity.com/Creed_III-358416025-mmed.jpg" />
                                    </div>
                                </div>

                                <a href="#section3" class="arrow__btn">›</a>
                            </section>



                        </div>
                    </div>
                </div>
            </div>
        </div>
























        @RenderBody()








        <!-------------------------------------------------------------------------------------------------------------------->


        <script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/core/popper.min.js"></script>
        <script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/core/bootstrap.min.js"></script>
        <script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/plugins/chartjs.min.js"></script>
        <script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/plugins/Chart.extension.js"></script>
        <script src="https://demos.creative-tim.com/soft-ui-dashboard/assets/js/soft-ui-dashboard.min.js?v=1.0.2"></script>
        <script>
            if (document.querySelector("#chart-bars")) {
                var ctx = document.getElementById("chart-bars").getContext("2d");
                new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [{
                            label: "Sales",
                            tension: 0.4,
                            borderWidth: 0,
                            borderRadius: 4,
                            borderSkipped: false,
                            backgroundColor: "#fff",
                            data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
                            maxBarThickness: 6
                        },],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: false,
                            }
                        },
                        interaction: {
                            intersect: false,
                            mode: 'index',
                        },
                        scales: {
                            y: {
                                grid: {
                                    drawBorder: false,
                                    display: false,
                                    drawOnChartArea: false,
                                    drawTicks: false,
                                },
                                ticks: {
                                    suggestedMin: 0,
                                    suggestedMax: 500,
                                    beginAtZero: true,
                                    padding: 15,
                                    font: {
                                        size: 14,
                                        family: "Open Sans",
                                        style: 'normal',
                                        lineHeight: 2
                                    },
                                    color: "#fff"
                                },
                            },
                            x: {
                                grid: {
                                    drawBorder: false,
                                    display: false,
                                    drawOnChartArea: false,
                                    drawTicks: false
                                },
                                ticks: {
                                    display: false
                                },
                            },
                        },
                    },
                });

            };
            if (document.querySelector("#chart-line")) {
                var ctx2 = document.getElementById("chart-line").getContext("2d");
                var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
                gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
                gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
                gradientStroke1.addColorStop(0, "rgba(203,12,159,0)");
                var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
                gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
                gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
                gradientStroke2.addColorStop(0, "rgba(20,23,39,0)");
                new Chart(ctx2, {
                    type: "line",
                    data: {
                        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [{
                            label: "Mobile apps",
                            tension: 0.4,
                            borderWidth: 0,
                            pointRadius: 0,
                            borderColor: "#cb0c9f",
                            borderWidth: 3,
                            backgroundColor: gradientStroke1,
                            fill: true,
                            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                            maxBarThickness: 6

                        },
                        {
                            label: "Websites",
                            tension: 0.4,
                            borderWidth: 0,
                            pointRadius: 0,
                            borderColor: "#3A416F",
                            borderWidth: 3,
                            backgroundColor: gradientStroke2,
                            fill: true,
                            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
                            maxBarThickness: 6
                        },
                        ],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: false,
                            }
                        },
                        interaction: {
                            intersect: false,
                            mode: 'index',
                        },
                        scales: {
                            y: {
                                grid: {
                                    drawBorder: false,
                                    display: true,
                                    drawOnChartArea: true,
                                    drawTicks: false,
                                    borderDash: [5, 5]
                                },
                                ticks: {
                                    display: true,
                                    padding: 10,
                                    color: '#b2b9bf',
                                    font: {
                                        size: 11,
                                        family: "Open Sans",
                                        style: 'normal',
                                        lineHeight: 2
                                    },
                                }
                            },
                            x: {
                                grid: {
                                    drawBorder: false,
                                    display: false,
                                    drawOnChartArea: false,
                                    drawTicks: false,
                                    borderDash: [5, 5]
                                },
                                ticks: {
                                    display: true,
                                    color: '#b2b9bf',
                                    padding: 20,
                                    font: {
                                        size: 11,
                                        family: "Open Sans",
                                        style: 'normal',
                                        lineHeight: 2
                                    },
                                }
                            },
                        },
                    },
                });
            };
        </script>
        <script src="./assets/js/loopple/loopple.js"></script>
</body>
