@using EntityLayer.Concrete
@model Top10TvSerieList

@{
    ViewData["Title"] = "AddTop10TvSerie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Resim Linki</label>
    <input type="text" class="form-control" asp-for="Image" />
    <br />
    <button class="btn btn-info">Image Ekle</button>
</form>