@using EntityLayer.Concrete
@model List<Top10TvSerieList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Image</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TvSerieID</td>
            <td>@item.Image</td>
            <td><a href="/Admin/Top10TvSerie/DeleteTop10TvSerie/@item.TvSerieID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Top10TvSerie/UpdateTop10TvSerie/@item.TvSerieID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Top10TvSerie/AddTop10TvSerie" class="btn btn-primary">Yeni Film Girişi</a>

